.bodycl{
    height:800px;
    width:300px;
    flex-wrap: wrap;
    margin: auto;
}
.notecard{
    flex-wrap: wrap;
   padding:10px;
    margin: 2px;
    display: flex;
 
    flex-direction: row;
    justify-content:space-between;
 
}
.container-2  {
padding:10px;
box-shadow: blue;
}